<div class="container-fluid" appScrollable (scrollPosition)="scrollHandler($event)">

  <div class="row justify-content-center mb-2">
    <div class="mb-4 col-12 col-md-10 col-lg-8">
      <div class="row">
        <div *ngIf="user" class="col card card-profile">
          <div class="row">
            <div class="col-2 card-avatar card-body" [hidden]="editing">
              <img class="img" [src]="user.image || '/assets/img/blank-profile.png'" />
            </div>
            <div class="col-2 card-avatar card-body" [hidden]="!editing">
              <label for="file-input">
                <img class="img" [src]="image || '/assets/img/aparat_placeholder.jpg'" />
              </label>

              <input id="file-input" type="file" (change)="onFileChanged($event)" />

            </div>
            <div class="col-10 card-body">
              <h4 class="card-title">{{user?.name}}</h4>
              <div [hidden]="editing">
                <p *ngIf="user?.description" class="card-description">
                  {{user?.description}}
                </p>
                <p *ngIf="!user?.description" class="card-description">
                  No description
                </p>
              </div>
              <mat-form-field [hidden]="!editing">
                <textarea matInput placeholder="Profile description" [(ngModel)]="user.description" rows="5"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="followers row">
            <div class="col-4 card-body">
              <h4 class="card-title text-center">Following: {{user?.followingCount}}</h4>
            </div>
            <div class="col-4 card-body">
              <h4 class="card-title text-center">Followers: {{user?.followersCount}}</h4>
            </div>
            <div class="col-4 card-body">
              <h4 class="card-title text-center">Recipes: {{user?.posts}}</h4>
            </div>
          </div>
          <div *ngIf="isUserChecked && auth.authState" class="row">
            <div class="col-12 card-body">
              <div *ngIf="auth?.currentUserId !== userId">
                <button [disabled]="loading" *ngIf="!isFollowing; else Unfollow" (click)="follow()" class="btn btn-success btn-round">Follow</button>

                <ng-template #Unfollow>
                  <button [disabled]="loading" (click)="unfollow()" class="btn btn-danger btn-round">Unfollow</button>
                </ng-template>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
              <div align="end">
                <button [hidden]="!editing" mat-raised-button type="submit" [disabled]="!user.description" color="accent"
                  (click)="updateProfile()">Save</button>
                <button *ngIf="auth?.currentUserId === userId" mat-icon-button (click)="edit()">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-10 col-lg-8">
      <mat-form-field class="form-orderBy">
        <mat-select (selectionChange)="changeOrderBy()" placeholder="Order by" [(value)]="orderBy">
          <mat-option value="published">Date</mat-option>
          <mat-option value="avgRating">Popularity</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <section class="col-12 col-md-10 col-lg-8">
      <mat-card class="fadeIn" *ngFor="let post of recipeService?.data | async">
        <div class="category">
          {{post.category}}
        </div>
        <mat-card-content routerLink="/recipe/{{post.doc.id}}">
          <div class="image-container">
            <img src="{{post.image}}" alt="{{post.title}}">
          </div>
          <h2>{{post.title}}</h2>
          <p>
            <small>Posted by {{post.author}} &bull; on {{post.published.toDate() | date: 'dd/MM/yyyy hh:mm a'}}</small>
          </p>
        </mat-card-content>
      </mat-card>
    </section>
    <div class="col-12 col-md-10 col-lg-8">
      <p class="tag is-warning" *ngIf="recipeService.done | async">No more recipes!</p>
      <app-loading *ngIf="recipeService.loading | async"></app-loading>
    </div>

  </div>
</div>
